.main-layout {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;

  .sub-layout {
    flex: 1;
    flex-direction: column;
    height: calc(100% - 80px);
    background-color: white;
    width: 100%;
    ;

    .content {
      flex: 1;
      text-align: center;
      background-color: #f4f4f4;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      padding-bottom: 15%;
    }

    .page-header {
      text-align: center;
      background-color: #f4f4f4;
      color: white;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;

      .steps {
        background-color: #f4f4f4;
        width: 70%;
      }
    }
  }
}

.custom-view {
  width: 100%;
}

.list-layout {
  height: 100%;
  background-color: #f4f4f4;
  align-items: center;

  .list-header {
    
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-top: 1%;

    
  }

  .list-sublayout {
    margin-top: 2%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;

    .list-content {
      width: 100%;
      justify-content: center;
      align-items: center;

      .list-content-space {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        .service-card {
          background-color: white;
          
          height: 20vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 15px;

          .ranking-avatar-container {
            display: flex;
            align-items: center;
            gap: 15px;
          }

          .adjective-text {
            font-size: 20px;
            font-weight: bold;
            color: #063773;
          }

          .service-image {
            margin-left: 0;
            margin-right: 10px;
            border-radius: 35px;
            object-fit: contain;
          }
          
          .service-card-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            padding: 1%;

            .service-card-title {
              font-size: 24px; /* Adjust the font size as needed */
              font-weight: bold;
              color: #063773;
            }

            .service-card-distance {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              font-weight: 500;
            }

            .service-card-city {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              
              font-weight: 200;
            }

            .service-card-description {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.sort-dropdown {
  margin-top: 10px;
  font-weight: bold;
}

.root {
  height: 100%;
  background-color: #f4f4f4;

  .body {
    height: 100%;
    margin: 0;
    padding: 0;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #063773;
      text-align: center;
      height: 10%;
    }

    .image {
      padding: 20px;
    }
  }
}

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background-color: #063773;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.load-more-spinner {
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}
